.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

input {
  margin: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

.input-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.input-group > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}